.Team {
    padding-bottom: 117px;
    a {
        color: inherit;
        text-decoration: inherit;
    }
}
.Team-list {
    display: grid;
    grid-template-columns: 0.7fr 4.7fr 1.2fr 1.2fr 1.1fr 1fr 1fr;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
    &.heading p {
        font-weight: 900;
        font-size: 18px;
        text-transform: uppercase;
        font-family: HelveticaNeue-CondensedBlack, Roboto;
    }
    &:hover {
        background-color: #f2f2f245;
    }
}
.Team-list > p {
    padding: 9.1px;
    padding-top: 6px;
    list-style-type: none;
    line-height: 20px;
    padding-bottom: 6px;
    line-height: 20px;
    &:first-child {
        padding-left: 0;
        padding-right: 0;
        justify-self: center;
    }
}
